<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>GDSCTools report</title>


   <link rel="stylesheet" href="{{ resource_path }}/css/canvasXpress.css" type="text/css"/>
   <link rel="stylesheet" href="{{ resource_path }}/css/gdsc.css" type="text/css" />
   <script src="{{ resource_path }}/js/sorttable.js"></script>
    <!-- Include required JS files -->
    <link rel="stylesheet" href="{{ resource_path }}/css/github-gist.css">
    <script src="{{ resource_path }}/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script type="text/javascript" src="{{ resource_path }}/js/canvasXpress.min.js"></script>

{{ volcano_jsdata }}
{{ boxplot_all_jsdata }}
{{ boxplot_tissue_jsdata }}
{{ boxplot_msi_jsdata }}
{{ boxplot_media_jsdata }}

    <script language="javascript">
    function loadFunctions(){
    {% if volcano_jsdata %}
        loadVolcano();
    {% endif %}
    {% if boxplot_all_jsdata %}
        loadBoxplotAssociation();
    {% endif %}
    {% if boxplot_msi_jsdata %}
        loadBoxplotMSI();
    {% endif %}
    {% if boxplot_tissue_jsdata %}
        loadBoxplotTissue();
    {% endif %}
    }
    </script>
</head>


<body onload="loadFunctions()">

<div class="document" id="unset">
<h1 class="title">{{ title }}</h1>
    <h2 class="subtitle">Report and analysis created with
        <a target="_blank" href="https://gdsctools.readthedocs.io">GDSCTools</A>,  (version {{ version }})</h2>
    <hr>
    <p>Analysis Domain: <b>{{ analysis_domain }}</b> tissues/cancer cell type
    {% if collaborator %}
    <br>
    Drug Domain: <b>{{ collaborator }}</b> proprietary compounds and public
compounds.
    {% endif %}
    </p>
    <hr>
      {% block content %}{% endblock %}
      <hr/>

    <div class="footer">
       <div class="logo">
            <img src="{{ resource_path }}/images/sanger-logo.png"  title=sanger-logo alt="sanger"/>
            <img src="{{ resource_path }}/images/EBI_logo.png"  title=sanger-logo alt="EBI"/>
       </div>

      <div class="copyright">
          {{ time_now }}
           Please visit <a href="http://gdsctools.readthedocs.io">online</a>
           documentation for details.
       </div>
   </div>
</div>
</body>
</html>
