{% extends "base.html" %}
{% block content %}

    <div class="contents local topic" id="contents">
        <ul class="simple">
            <li> 1 - <a class="reference internal" href="#Summary" id="id1">
                Summary</a></li>
            <li> 2 - <a class="reference internal" href="#Volcano_plot" id="id2">
                Volcano plot</a> </li>
            <li> 3 - <a class="reference internal"
                href="#Explore_all_significant_results" id="id3">  Explore all
                significant results</a> </li>
            <li> 4 - <a class="reference internal" href="#Feature_summary" id="id4">  Feature summary</a> </li>
            <li> 5 - <a class="reference internal" href="#Drug_summary" id="id5">
                Drug summary</a> </li>
            <li> 6 - <a class="reference internal"
                href="#Drug_wise_associations" id="id6">  Drug wise
                associations</a>  </li>
            <li> 7 - <a class="reference internal"
                href="#Feature_wise_associations" id="id7">  Feature wise
                associations</a> </li>
            <li> 8 - <a class="reference internal" href="#Cell_line_information"
                id="id8">Cell line information</a> </li>
            <li> 9 - <a class="reference internal" href="#Settings_and_input_files"  id="id9">  Settings and input files</a> </li>
            <li> 10 - <a class="reference internal" href="#Dependencies"
                id="id11">Dependencies</a> </li>
        </ul>
    </div>


    <div class="section" id="Summary">
    <h2> 1 -  <a class="toc-backref" href="#id1">Summary</a></h2>
    {{ summary }}
    </div>


    <div class="section" id="Volcano_plot">
    <h2> 2 -  <a class="toc-backref" href="#id2">Volcano Plot</a></h2>
    
    {{ volcano }}

    </div>


    <div class="section" id="Explore_all_significant_results">
    <h2> 3 -  <a class="toc-backref" href="#id3">Explore all significant results</a></h2>
    {{ manova }}
    </div>


    <div class="section" id="Feature_summary">
    <h2> 4 - <a class="toc-backref" href="#id4">Feature summary</a></h2>
    <p>Features most frequently associated with a drug response</p>
    <img alt="summary of significant features" src="feature_summary.png">
    <br>
    You can <a href="OUTPUT/features_summary.csv">download the
        significant-features table</a> in csv format.
    </div>


    <div class="section" id="Drug_summary">
    <h2> 5 - <a class="toc-backref" href="#id4">Drug Summary</a></h2>
    <p>Drug most frequently associated with a feature</p>
    <img alt="summary of significant drugs" src="drug_summary.png">
    <br>
    You can <a href="OUTPUT/drugs_summary.csv">download the significant-drug table</a> in csv format.
    </div>

    <div class="section" id="Drug_wise_associations">
    <h2> 6 - <a class="toc-backref" href="#id6">
           Drug wise associations</a></h2>
    <p> The following table provides links to dedicated pages for
               each significant drug (sorted by mean ascending FDR across all
               features)
    {{ drug_table }}
    </p>
    <p style="font-size:.7em;">  {{ drug_not_tested }} </p>
    </div>


    <div class="section" id="Feature_wise_associations_">
    <h2> 7 - <a class="toc-backref" href="#id6"> Feature wise associations</a></h2>
    <p> The following table provides links to dedicated pages for
               each feature that has been tested. Some features may be missing
               if no valid association could be computed.
              The 'hits' columns indicates the number of significant hits.
    {{ feature_table }}
    </p>
    </div>


    <div class="section" id="Cell_line_information">
    <h2> 8 -  <a class="toc-backref" href="#id8">Cell line information</a></h2>
    {{ cosmic_table }}
    </div>


    <div class="section" id="Settings_and_input_files">
    <h2> 9 -  <a class="toc-backref" href="#id9">Settings and input files</a></h2>
    <p>This page and the results were created using a script similar to:</p>
    <pre><code class="python">
        from gdsctools import ANOVA, ANOVAReport

        gdsc = ANOVA(ic50_filename, genomic_features)
        gdsc.read_settings('settings.json')

        # Analyse the data
        results = gdsc.anova_all()

        # Create the HTML report
        r = ANOVAReport(gdsc, results)
        r.create_html_pages(onweb=False)
    </code></pre>
    (Go to <a href="code">code</a> directory and execute 
    <a href="code/rerun.py">rerun.py</a>.) 

    <p>The settings are in the <a href="INPUT">INPUT</a> directory and here below:</p>
    {{ settings_table }}
    <br>
    The input files are in the <a href="INPUT">INPUT</a> directoty and here below:<br>

    <ul>
        <li> Get <a href="{{ ic50_file }}">IC50</a> file. </li>
        <li> {{ gf_file }}      </li>
        <li> {{ drug_decode }}  </li>
        <li> {{ settings }}     </li>
    </ul>
    </div>


    <div class="section" id="Dependencies">
        <h2> 10 - <a class="toc-backref" href="#id11">Dependencies</a></h2>
        {{ dependencies }}
    </div>



{% endblock %}
